*
!*/
!/.gitignore

!/README.md
!/LICENSE

!/**/Cargo.toml
!/Cargo.lock
!/rust-toolchain.toml

!/resources/**/*.cor
!/resources/**/*.cor.trace

!/cordy*/src/**/*.rs
!/cordy*/benches/**/*.rs

!/docs/**/*.md