*
!*/
!/.gitignore

!/README.md
!/LICENSE

!/**/Cargo.toml
!/Cargo.lock
!/rust-toolchain.toml
!/**/Makefile

!/cordy*/test/**/*.cor
!/cordy*/test/**/*.cor.trace

!/cordy*/src/**/*.rs
!/cordy*/benches/**/*.rs

!/docs/**/*.md